%div.container
  %h1 StatusCheck for Litmus App
  %h5.text-muted Is it up? Is it down?
%br

%div.container
  %table.table.table-bordered
    %thead
      %tr
        %th Litmus App Is:
        %th Status Message:
        %th Status Posted At:

    %tbody
      - @statuses.each do |status|
        %tr
          %td.text-uppercase= status.state
          %td= status.message
          %td= status.created_at

